/.phpunit.cache
/node_modules

/public/hot
/public/storage
/storage/*.key
/storage/sample_images/*
/storage/class-card-samples
!/storage/sample_images/.gitkeep
/storage/fake_bucket/*
!/storage/fake_bucket/.gitkeep
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
ferrara_privatekey.pem
/external-docs*
/.claude/settings.local.json
